@import url(./fonts.css);


*{
    box-sizing: border-box;
}
body{
    min-height: 160vh;
    /* background-color: rgb(232, 243, 255); */
    background: #f8faff;
}

/* -------------------------------------------------------------------------------------------------------- */
/*                                                       Navbar                                             */
/* -------------------------------------------------------------------------------------------------------- */
nav{
    /* box-shadow: rgba(171, 171, 171, 0.7) 0px 7px 20px -10px; */
    box-shadow: rgb(75, 71, 133, .28) 0px 7px 20px -10px;
    box-shadow: 0px -1px 15px 0 rgba(200, 219, 239, 0.7);
    /* box-shadow: 0 13px 25px -2px rgb(75, 71, 133, .15); */
    padding: 20px 0 !important;
    transition: .2s linear;
    background-color: #fff/*#3157dc*/;
}
.navSlowUp{ 
    padding: 15px 0 !important;
}

nav .container{
    max-width: 1050px;
    padding: 0 15px !important;
    transition: .25s ease-in-out;
}
nav .navbar-brand{
    font-family: ceb-6;
    font-size: 25px;
    color: #222;
}
nav .navbar-nav .nav-item{
    position: relative;
    margin: 0 20px !important;
    /* overflow: hidden; */
}
/* nav .navbar-nav .nav-item:hover .nav-link{color: initial !important;} */
nav .navbar-nav .nav-item .nav-link{
    font-family: ceb-3;
    font-size: 16px;
    color:#222222;
    padding: 3px;
}
nav .navbar-nav .nav-item .nav-link:hover,
nav .navbar-nav .nav-item .nav-link:focus{
    color: #222222;
}
nav .navbar-nav .nav-item .nav-link .fa-caret-down{ color: #222222;}
/* nav .navbar-nav .nav-item .nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transform: translateX(-100%);
    background-color: #222222;
    transition: .3s ease-in-out;
    opacity: 0.4;
    border-radius: 5px;
} */
/* nav .navbar-nav .nav-item:hover .nav-link::before{ 
    transform: translateX(0);
    opacity: 1; 
} */
nav .navbar-nav .nav-item:hover .nav-link{ color:#222222 !important }


/* ----------Dropdown--------- */
nav .navbar-nav .dropdown .dropdown-menu {
    box-shadow: rgba(171, 171, 171, 0.8) 0px 7px 25px -10px;
    /* box-shadow: 0 8px 10px 1px rgba(32, 32, 32, 0.14),  
                0 5px 5px -3px rgba(39, 41, 58, 0.1); */
    border-radius: 0;
    width: max-content;
    border: none;
    margin-top: 20px;
    /* position: relative; */
    /* background-color: peru; */
}
nav .navbar-nav .dropdown .show.dropdown-menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 7px;
}
nav .navbar-nav .dropdown .dropdown-menu a.dropdown-item{
    font-family: ceb-3;
    font-size: 15px;
    color:#000;
    padding: 7px 25px;
    transition: all .15s linear;
}
nav .navbar-nav .dropdown .dropdown-menu a.dropdown-item:hover{
    background-color: rgb(95, 100, 105);
    color: #fff;
    box-shadow: 0 5px 10px 1px rgba(32, 32, 32, 0.14), 
                0 3px 10px 2px rgba(0, 0, 0, 0.12), 
                0 5px 5px -3px rgba(0, 0, 0, 0.15);
}
nav .navbar-nav .dropdown .dropdown-menu a.dropdown-item:focus{
    background-color: rgb(95, 100, 105); /*rgb(99, 114, 129)*/
    color: #fff;
}
nav .navbar-nav .dropdown .dropdown-menu .fa-angle-down{
    margin-bottom: -1px !important;
}
nav .navbar-nav .dropdown .dropdown-menu .badge{
    font-family: 'Poppins' !important;
    font-weight: 500;
    font-size: 12px;
    background: #138ce4;
    color: #fff;
    margin-left: 5px;
}
/* ----------Side Navbar for Mobile--------- */
/* -- hamburger menu -- */
.change-body-opacity{
    background-color: rgba(0, 0, 0, 0.3);
}
nav .navbar-toggler{
    border: none;
    background-color: transparent;
    padding: 5px;
    outline: none;
}
nav .navbar-toggler .navbar-toggler-icon{
    font-size: 23px;
    font-weight: bold;
}
/* ---Side Slide-- */
nav .side-nav {
    position: fixed;  
    box-sizing: border-box;  
    height: 100%;  
    width: 100%;   
    z-index: 1;  
    top: 0;  
    right: -100%;
    background-color: #111;  
    overflow-x: hidden;
    transition: 0.4s;
    /* padding-bottom: 70px; */
}
nav .side-nav-content {
    position: relative;  
    top: 50%;
    left: 50%;
    /* margin: 0 10px 50px 50px !important; */
    /* background-color: rgb(48, 48, 48); */
    display: inline-block;
    transform: translate(-50%,-50%);
    text-align: left;  
    /* padding: 0 100px;   */
} 
nav .side-nav .side-nav-content a{  
    /* padding: 10px;   */
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin: 30px 0; 
    /* background-color: skyblue;  */
    text-decoration: none;  
    font-size: 25px;
    color: #9c9c9c;   
    display: block;  
    transition: .08s linear;
}
nav .side-nav a.closebtn{
    position: absolute;  
    font-size: 55px;  
    top: 10px;  
    right: 30px;  
    text-decoration: none;  
    color: #9c9c9c;  
    z-index: 100;  
    transition: 0.1s linear;
}  
nav .side-nav a.closebtn:hover,
nav .side-nav .side-nav-content a:hover{  
      color: #dddddd;  
}





/* -------------------------------------------------------------------------------------------------------- */
/*                                                  Banner Slider                                           */
/* -------------------------------------------------------------------------------------------------------- */
.banner{
    margin-top: 72px;
}
.banner .container{
    max-width: 1050px;
    /* background-color: rgb(241, 240, 235); */
    padding: 15px 0;
}
.banner .carousel .carousel-item{
    width: 100%;
    height: 550px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: transparent;
    transition: .7s ease-in-out !important;
}
.banner .carousel .carousel-control-prev,
.banner .carousel .carousel-control-next{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   /* background-color: #0000004f; */
   height: 100%;
   width: 43px;
   display: flex;
   align-items: center;
}
.banner .carousel .carousel-control-prev{ left: 30px !important }
.banner .carousel .carousel-control-next{ right: 30px !important }










/* -------------------------------------------------------------------------------------------------------- */
/*                                                  Media Query                                             */
/* -------------------------------------------------------------------------------------------------------- */

@media (max-width: 768px){
    
}